<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Request</title>

    <!-- Bootstrap CSS (CDN link for demonstration purposes) -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Inline styles for better email client compatibility */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h2 {
            color: #007BFF;

        }

        p {
            color: #666;
            margin-bottom: 15px;
        }

        table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Contact Us Form Submission</h2>
        <p class="text-muted"> Attention Admin, </p>
        <p class="text-muted">A user is trying to contact us. Below are the details:</p>


        <table class="table table-bordered">
            <tr>
                <th>Field</th>
                <th>Details</th>
            </tr>
            <tr>
                <td><strong>Name</strong></td>
                <td>
                    <%= user.name %>
                </td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>
                    <%= user.email %>
                </td>
            </tr>
            <tr>
                <td><strong>Subject</strong></td>
                <td>
                    <%= user.subject %>
                </td>
            </tr>
          
            <tr>
                <td><strong>Message</strong></td>
                <td>
                    <%= user.msg %>
                </td>
            </tr>

            <tr>
                <td><strong>Conatc Date</strong></td>
                <td>
                    <%= new Date( ).toLocaleString()%>
                </td>
            </tr>
         
        </table>

        <p class="text-muted">Thank you for your attention!<</p>

    </div>

    <!-- Bootstrap JS and Popper.js (CDN links for demonstration purposes) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>