<%- include('adminHeader.ejs') %>
<style>
    table thead{
        background-color: rgb(241,241,238);

    }

    table,
  thead,
  td,
  th,
  tr {
    border: 1px solid rgb(141, 145, 148);
  }
  
</style>
<% if (isError) { %>
    <script>
        alert("<%= message %>")
    </script>
<% } %>
<div class="container-fluid my-5">
    <div class="row table-responsive p-3">
        <h3 class="text-primary">Rejected Visits Details :</h3>
        <div class="card shadow-5-strong p-2">
            <div class="card-body">
                <form method="post" action="/admin/search-visits">
                    <div class=" my-3 d-flex justify-content-end ">
                        <div class="mx-2"><select name="search" id="search" class="form-select">
                                <option value="name">Name</option>
                                <option value="email">Email</option>
                            </select></div>
                        <div class="mx-2">
                            <input type="text" name="filter" id="filter" class="form-control"
                                placeholder="search by name/email">
                            <input type="text" name="page" id="page" hidden value="rejectedVisits">
                            <input type="text" name="type" id="type" hidden value="REJECTED">
                        </div>
                        <div class="mx-2">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            <button class="btn btn-outline-info" type="reset"
                                onclick="reloadAndRedirect()">reset</button>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered text-center">
                    <thead >
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>To Meet</th>
                            <th>Visit Type</th>
                            <th>Purpose</th>
                            <th>Visit Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody >
                        <% if (visitsData.length === 0) { %>
                          <tr >
                            <td rowspan="8" colspan="10" class="text-center">

                                No Data found
                            </td>
                          </tr>
                        <% } %>
                    </tbody>
                    <tbody class="table-striped table-hover">
                        <% visitsData.forEach((visit, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= visit.name %></td>
                                <td><%= visit.email %></td>
                                <td><%= visit.phone %></td>
                                <td><%= visit.address %></td>
                                <td><%= visit.to_meet %></td>
                                <td><%= visit.type_of_visit %></td>
                                <td><%= visit.purpose %></td>
                                <td><%= new Date(visit.visit_date).toLocaleString() %></td>
                                <td class="text-danger fw-bold"><%= visit.visit_status %></td>
                                <td>
                                    <a role="button" class="btn btn-warning" href="/admin/pending-visit/<%=visit.id %>">Mark as pending</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function reloadAndRedirect() {
        
        location.reload();

        window.location.href = '/admin/rejected-visits';

    }
</script>